############
## YOURLS
############

# Configuration
.htaccess
*.config
*.conf
[Rr]obots.txt
config.php

# Languages

# Pages
pages/*
!pages/examplepage.php

############
## Tests
############

test*.php
tests/

############
## Environnement
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
nbproject/

